.search-form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.search-form > :first-child {
  margin-right: 10px;
}

.search-form__button {
  border-radius: 50%;
  background: var(--card-bg-color);
  font-family: var(--font-family);
  color: var(--primary-color);
}

.search-form__input {
  background: var(--card-bg-color);
  font-family: var(--font-family);
  color: var(--primary-color);
  border-radius: 10px;
  text-align: center;
}
