@import url("https://fonts.googleapis.com/css2?family=Patrick+Had+SC&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #eee;
  --header-color: #202329;
  --header-bg-color: #eee;
  --bg-color: #24282f;
  --card-bg-color: #3c3e44;
  --font-family: "Patrcik Hand SC", cursive;
  --highlight: orange;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  background: var(--bg-color);
  color: var(--primary-color);
}

body {
  margin: 0;
}

.main {
  padding: 30px 20px;
  text-align: center;
}

.loadmore {
  border-radius: 10px;
  background: var(--card-bg-color);
  color: var(--primary-color);
  width: 10rem;
  height: 3rem;
  font-family: var(--font-family);
}

.loadmore:active {
  background: var(--highlight);
}

.loadmore:disabled {
  display: none;
}
